* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v0_817 {
  width: 100%;
  height: 6902px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_818 {
  width: 100%;
  height: 70px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 58px;
  left: 165px;
  overflow: hidden;
}
.v0_820 {
  width: 47px;
  color: rgba(39,62,105,1);
  position: absolute;
  top: 21px;
  left: 293px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v0_821 {
  width: 70px;
  color: rgba(39,62,105,1);
  position: absolute;
  top: 21px;
  left: 454px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v0_822 {
  width: 77px;
  color: rgba(39,62,105,1);
  position: absolute;
  top: 21px;
  left: 642px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v0_823 {
  width: 94px;
  color: rgba(39,62,105,1);
  position: absolute;
  top: 18px;
  left: 830px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v0_865 {
  width: 100%;
  height: 340px;
  background: rgba(245,245,245,1);
  opacity: 1;
  position: absolute;
  top: 3155px;
  left: 0px;
  overflow: hidden;
}
.v0_866 {
  width: 498px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 106px;
  left: 115px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v417_100 {
  width: 100%;
  height: 948px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 714px;
  left: 58px;
  overflow: hidden;
}
.v211_416 {
  width: 981px;
  height: 948px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 0px;
  overflow: hidden;
}
.v211_417 {
  width: 750px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 120px;
  left: 80px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v211_418 {
  width: 455px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 322px;
  left: 80px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v211_419 {
  width: 430px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 384px;
  left: 80px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v211_424 {
  width: 686px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 322px;
  left: 557px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v211_425 {
  width: 470px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 384px;
  left: 557px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v211_426 {
  width: 686px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 606px;
  left: 80px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v211_427 {
  width: 419px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 666px;
  left: 80px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v211_428 {
  width: 686px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 606px;
  left: 557px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v211_429 {
  width: 490px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 672px;
  left: 557px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v211_430 {
  width: 100%;
  height: 600px;
  background: rgba(245,245,245,1);
  opacity: 1;
  position: absolute;
  top: 1778px;
  left: 0px;
  overflow: hidden;
}
.v211_431 {
  width: 351px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 85px;
  left: 80px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v211_432 {
  width: 372px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 185px;
  left: 80px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v211_575 {
  width: 571px;
  height: 358px;
  background: url("../images/v211_575.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 121px;
  left: 528px;
  overflow: hidden;
}
.v211_581 {
  width: 425px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2457px;
  left: 547px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v211_579 {
  width: 920px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 2572px;
  left: 143px;
  font-family: Montserrat;
  font-weight: Light Italic;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v211_520 {
  width: 888px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 4031px;
  left: 165px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v211_570 {
  width: 888px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 5464px;
  left: 165px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v319_106 {
  width: 893px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 6001px;
  left: 160px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v211_569 {
  width: 686px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5915px;
  left: 164px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v211_568 {
  width: 686px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5396px;
  left: 165px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v211_566 {
  width: 690px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3933px;
  left: 165px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v211_518 {
  width: 754px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3752px;
  left: 100px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v211_586 {
  width: 622px;
  height: 439px;
  background: url("../images/v211_586.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6328px;
  left: 310px;
  overflow: hidden;
}
.v211_587 {
  width: 622px;
  height: 439px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.5);
  overflow: hidden;
}
.v211_588 {
  width: 558px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 64px;
  left: 53px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v211_590 {
  width: 237px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 143px;
  left: 53px;
  border: 1px solid rgba(0,0,0,0.5);
  overflow: hidden;
}
.v211_591 {
  width: 223px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 151px;
  left: 67px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v211_592 {
  width: 237px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 143px;
  left: 268px;
  border: 1px solid rgba(0,0,0,0.5);
  overflow: hidden;
}
.v211_593 {
  width: 223px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 151px;
  left: 282px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v211_594 {
  width: 494px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 207px;
  left: 53px;
  border: 1px solid rgba(0,0,0,0.5);
  overflow: hidden;
}
.v211_595 {
  width: 223px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 215px;
  left: 67px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v420_100 {
  width: 915px;
  height: 641px;
  background: url("../images/v420_100.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 128px;
  left: 165px;
  overflow: hidden;
}
.v420_101 {
  width: 247px;
  height: 142px;
  background: url("../images/v420_101.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 64px;
  overflow: hidden;
}
